/* ===== Configuration initial ============================== */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* ===== Desktop ============================== */
html {
  font-size: 100%;
  /* ===== sweetalert2 ============================== */
}

html body .container .row {
  height: 100vh;
}

html body .container .row .background__One {
  font-style: italic;
  font-family: 'Marko One', serif;
  background-color: #1181D7;
  padding: 1rem;
}

html body .container .row .background__One .container__one-main {
  margin-top: 8rem;
}

html body .container .row .background__One .container__one-main .container__one {
  margin-bottom: 2rem;
}

html body .container .row .background__One .container__one-main .container__one .container__one__child {
  color: white;
  font-size: 1.6rem;
  text-decoration: none;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 10px 40px;
}

html body .container .row .background__One .container__one-main .container__one .container__one__child:hover {
  background-color: #0B9FDB;
  -webkit-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s;
}

html body .container .row .background__One .container__one-main .container__two__child {
  color: white;
  font-size: 1.6rem;
  padding: 10px 66px;
  text-decoration: none;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

html body .container .row .background__One .container__one-main .container__two__child:hover {
  background-color: #0B9FDB;
  -webkit-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s;
}

html body .container .row .background__One .container__one-main .container__one + .container__one {
  margin-top: 1rem;
}

html body .container .row .background__two {
  font-family: 'Marko One', serif;
  background: #1181d7;
  background: linear-gradient(96deg, #1181d7 10%, #8689ec 50%);
  padding: 20px 5rem;
  /* ===== Alterando cor do placeholder============================== */
}

html body .container .row .background__two .title__main {
  color: white;
  text-align: center;
  margin-bottom: 3rem;
  font-style: italic;
  font-family: 'Marko One', serif;
}

html body .container .row .background__two label {
  color: white;
  margin-left: 5px;
}

html body .container .row .background__two input {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid #0B9FDB;
}

html body .container .row .background__two .btn__two-Main {
  text-align: center;
}

html body .container .row .background__two .btn__two-Main .btn__two {
  color: white;
  background-color: #1181D7;
  -webkit-box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
          box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  width: 20rem;
  padding: 1rem;
  margin-top: 2.5rem;
}

html body .container .row .background__two .btn__two-Main .btn__two:hover {
  background-color: #0B9FDB;
  -webkit-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s;
}

html body .container .row .background__two ::-webkit-input-placeholder {
  color: #212529;
}

html body .container .row .background__two .table__main {
  text-align: center;
  margin-top: 4rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
          box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

html body .container .row .background__two .table__main div {
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
}

html body .container .row .background__two .table__main div i {
  margin-left: 5px;
}

html body .container .row .background__two .table__main div:nth-child(1) {
  background-color: #FFC107;
}

html body .container .row .background__two .table__main div:nth-child(2) {
  background-color: #DC3545;
}

html body .container .row .page__listarOne {
  margin-top: 3rem !important;
  text-align: center;
  padding: 20px 5rem;
}

html body .container .row .page__listarTwo {
  padding: 20px 1rem;
}

html .swal2-popup.swal2-toast {
  margin-left: 110px !important;
  margin-bottom: 20px !important;
  background: #212529 !important;
}

html .swal2-title {
  color: white !important;
}

html .swal2-timer-progress-bar {
  background-color: #A5DC86 !important;
}

/* ===== Tablet ============================== */
@media (max-width: 1199px) {
  html {
    font-size: 93.75%;
  }
  html body .container .row .background__One .container__one-main .container__one .container__one__child {
    font-size: 1.1rem;
    padding: 10px 20px;
  }
  html body .container .row .background__One .container__one-main .container__two__child {
    font-size: 1.1rem;
    padding: 10px 37px;
  }
}

/* ===== Mobile ============================== */
@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
  html body .container .row .background__One .container__one-main .container__one .container__one__child {
    font-size: 1rem;
    padding: 10px 0px;
  }
  html body .container .row .background__One .container__one-main .container__two__child {
    font-size: 1rem;
    padding: 10px 14px;
  }
}
/*# sourceMappingURL=main.css.map */